.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(90, 59, 161);
}
.App-content{
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.App .App-content .mainContent{
  background-color: #fff;
  margin: 10px 0px 10px 0px;
  border-radius: 20px;
}
.centerContent{
  display: flex;
  flex-direction: column;
  width: 70%;
  /* background-color: rgba(135, 112, 251, 0.184); */
  background-color: rgba(135, 112, 251, 0.099);
  
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.topContent{
  height: 5%;
  width: 100%;
  margin: 10px 0px 10px 40px;
}
.topContent p{
  font-size:4ch; 
  font-weight:bolder;
  color: rgba(73, 23, 124, 0.921);
}
.App .App-content .mainContent .centerContent .primary-content{
  height: calc(100% - 5% - 10px);
  width: 100%;
  margin-top: 10px;
  /* background-color: rgba(135, 112, 251, 0.099); */
  border-bottom-left-radius: 20px;
}
/* .primary-content{
  display: flex;
  flex-direction: column;
  background-color:#fff;
  width: 70%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
} */
.App .App-content .mainContent .layoutRight{
  background-color: rgba(135, 112, 251, 0.251);
  width: 30%;
  margin-left: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sidebar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  padding: .4rem .8rem;
  transition: all 0.5s ease;
}
.sidebar .user-img{
  width: 50px;
  border-radius: 10px;
}
.sidebar.active {
  width: 250px;
}
.sidebar.active ~.mainContent{
  left: 250px; 
  width: calc(100% - 250px);
}
.sidebar #btn{
  position: absolute;
  color: #fff;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn {
  left: 90%;
}
.top{
  position: relative;
  top: 5px;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar .top .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}
.sidebar.active .top .logo{
  opacity: 1;
}
.sidebar .top .logo i{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  margin: 8px;
}
.user{
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 20px 0px;
  height: 80px;
  border: 1px #83b0ea;
  /* background-color: #fff; */
}
.user img{
  position: absolute;
  height: 100%;
  margin-left: 11px;
  padding: 1px;
  background-color: antiquewhite;
  opacity: 1;
}
.user p{
  color: #fff;
  margin-left: 1rem;
  font-weight: 600;
  opacity: 0;
}
.sidebar.active p {
  position: absolute;
  left: 70px;
  opacity: 1;
}
.sidebar ul{
  position: absolute;
  left: 20px;
  margin-top: 1px;
  padding-left: 0px;
  width: 50%;
}
.sidebar.active ul{
  position: absolute;
  left: 20px;
  margin-top: 1px;
  padding-left: 0px;
  width: 85%;
}
.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}
.sidebar ul li .a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}
.sidebar ul li .a:hover {
  background-color: #83b0ea;
  color: #12171e;
}
.sidebar ul li .a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.sidebar .nav-item{
  opacity: 0;
}
.sidebar.active .nav-item{
  opacity: 1;
}
.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: .6rem;
  padding: .4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}
.sidebar ul li:hover .tooltip{
  opacity: 1;
}
.sidebar.active ul li:hover .tooltip{
  display: none;
}
.mainContent{
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 100px;
  transition: all 0.5s ease;
  width: calc(100% - 105px);
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#btnCheck{
  background-color: rgb(144, 128, 222);
  border: none;
}